body {
    font-family: Arial, sans-serif;
    background-color:#b7003a6b;
    margin: 0;
    padding: 0;
    text-align: center;
    color:  #003B73;
    font-family: monospace;
    font-size:15px;
}
header {
    background-color: #b7003a6b;
    color: #6f28a3ef;
    padding:20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
h1 {
    font-size: 35px;
}
h2{
    font-size: 25px;
}
h3{
    font-size:18px;
}


a{
    color: #6f28a3ef;
    text-decoration: none;
}
main {
    padding: 20px;
}
a:hover {
    color: #C26DBC;
    text-decoration-line: line;
}

/* Sections */
section {
    margin-bottom: 20px;
}
section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: center;

}
section h3{
    text-align: left;
}