<p>Please click on the links to navigate through my site</p>
<nav>
    
    <a href="https://webpages.charlotte.edu/hkonain/" target="_blank">CLT Web</a> |
    <a href="https://www.freecodecamp.org/hkonain" target="_blank">Freecodecamp</a> |
    <a href="https://www.codecademy.com/profiles/hkonain27" target="_blank">Codeacademy</a> |
    <a href="https://github.com/hkonain27/" target="_blank">Github</a> |
    <a href="https://hkonain27github.io/" target="_blank">Github.io</a> |
    <a href="https://www.linkedin.com/in/hafsakonain333/" target="_blank">LinkedIn</a>

</nav>
<p>
    Pages built by 
    <a href = "ghboutique.com.html">Gh Boutique</a> &copy; 2024
    <a href = "https://www.freecodecamp.org/certification/grishmahowale/responsive-web-design">Certified in Responsive Web Design</a> 
    ,
    <a href = "https://www.freecodecamp.org/certification/grishmahowale/javascript-algorithms-and-data-structures-v8">Certified in JS</a>
</p>



<a id="validation-link-html" href="">
    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="validation button image">
</a>
<a id="validation-link-css" href="">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="validation button image">
</a>

<!-- {"name": "CLT Web", "url": "https://webpages.uncc.edu/hkonain/"},
    {"name": "Github Page", "url": "https://github.com/hkonain27/hkonain27.github.io"},
    {"name": "Github Course Page", "url": "https://hkonain27.github.io/itis3135"},
    {"name": "Github", "url": "https://github.com/hkonain27"},
    {"name": "Freecode Camp", "url": "https://www.freecodecamp.org/hkonain"},
    {"name": "CodeAcademy", "url": "https://www.codecademy.com/profiles/hkonain27"},
    {"name": "LinkedIn", "url": "https://www.linkedin.com/in/hafsakonain333/"} -->