h1>Hafsa Konain's Humble Kangaroo || ITIS3135</h1> 
<nav>   
    <a href="index.html">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="contract.html">Contract</a>
    <a href="about.html">About</a>
    <a href="website_evaluations.html">Website Evaluations</a> 
    <a href="tables.html">Tables</a> 
    <a href="forms.html">Forms</a> 
    <a href="project_overview.html">Project Overview</a>
    <a href="firstscripts.html">First JavaScripts</a>
    <a href="byo_intro.html">BYO</a>
    <a href="drawing.html">Interactive Drawing</a>
    <a href="slideshow.html">Slideshow Gallery</a>
    
    
    

    
</nav> 
<hr> 
<nav>
    <a href="stuff/crappysite.html" target="_blank">My CRAPPY Web&Page</a>
    <a href="hobby/hobby.html">Hobby</a>
    <a href="project/">Client Project</a>
    <a href="review1.html">Peer Review 1</a>
    <a href="review2.html">Peer Review 2</a>

</nav>